h2#titolInici {
    color: #3498db;
    text-align: center;
}
p#paragrafInici {
    color: #2ecc71;
    font-size: 16px;
    text-align: justify;
}
.imatgeInici {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
