h1#titolEquip {
    width: 50%;
    color: red;
    border: solid red 1px;
    margin: 10px auto;
    text-align:center;
    padding:10px;
    background-color:white;
}

.paragrafEquip{
    width: 80%;
    border: solid black 1px;
    margin: 10px auto;
    text-align:center;
    padding:10px;
    background-color:#f2e7c3;
}

.imatgeEquip{
    width: 400px;
    margin: 10px;
}

#container-equips {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info_equip {
    display: flex;
    flex-direction: column; /* Coloca el contenido en una columna */
    align-items: center;
    color: white;
    background-color: gray;
}

#enllaç_tornar {
    display: flex;
    justify-content: center;
}

.inici {
    width: 30px;
    height: 30px;
}