{% extends 'base.html.twig' %}
{% block title %}FitGym: Gesti칩n de Entrenamiento{% endblock %}

{# {% block stylesheets %}
{{ encore_entry_link_tags('app') }}
<link href="{{ asset('assets/css/estilosHome.css') }}" rel="stylesheet">
{% endblock %} #}

{% block body %}
{% include 'navegacion.html.twig' %}
<section>
<div>
    <h1 id="titolInici">Bienvenido a FitGym</h1>
</div>

<div>
    <p id="paragrafInici">Explora nuestras herramientas de gesti칩n para entrenadores y miembros del gimnasio. Gestiona equipos, horarios y actividades f치cilmente.</p>
</div>

<div id="container-img">
    <a href="{{ path('info_equips', {'codi': 1}) }}">
    <img src="{{ asset('assets/img/gym_inicio.jpg') }}" alt="Acceso a informaci칩n del gimnasio" class="imatgeInici">
    </a>
</div>
</section>
{% endblock %}
